
body {
  background-color: $bg_color_dark;
}

#landing_games {
  margin: 16px auto;
  min-height: 200px;
  min-width: 400px;
  height: 80%;
  width: 80%;
  background-color: $bg_color_light;
  color: black;
}