@mixin message_box-height {
  min-height: 225px;
}

#message_box {
  position: absolute;
  @include box-radius;
  @include shell-shadow;
  @include message_box-height;
  width: 100%;
  height: 100%;
  min-height: 235px;
  top: 0;

  background-color:$palette_blue_15o;
  padding: 0rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#message_box-info, 
#message_box-users,
#message_box-body {
  @include box-radius-half;
  box-sizing: border-box;
  border: .25rem solid $palette_med;
  margin: 1rem;
  background: $palette_light;
}


#message_box-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#message_box-info {
  height: 80px;
  margin-bottom: 0; 
}
#message_box-users {
  height: 100%;
  @include inner-shell-shadow;
}
#message_box-right {
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // background-color: rgba(0, 128, 0, 0.651);


}
#message_box-body {
  height: 100%;
  position: relative;
  // background-color: rgba(255, 192, 203, 0.521);
  @include inner-shell-shadow;
}




///// Message Item ///////////////////////////////
