
.btn-black-red {
  background: $palette_dark !important;
  border-color: $palette_dark !important;
}
.btn-black-red:hover {
  background:$button_red !important;
  border-color: $button_red !important;
}
//////////////////////////////////////////////////////////////////////////////

.btn-default {
  font-size: 1.8rem;
  border: .5px solid $button_red;
  border-radius: .7rem;
  background:$button_red;
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  width: 85px;
  height: 25px;
  text-align: center;
    line-height: 2.5rem;
}
.btn-default:hover {
  border: .05rem solid white;
  background:rgba(13, 13, 13, .75);
}

//////////////////////////////////////////////////////////////////////////////

.btn-ghost {
  margin: 0 1rem;
  color: $palette_text_light;
  background: $button_red;
  font-size: 1.8rem;
  font-weight: bold;
  @include font-mont_alt;
  
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: .7rem;
  border: .5px solid $button_red;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.btn-ghost:hover {
color: $palette_text_light;
background: $palette_dark;
border-color: $palette_dark;
transition: all 0.4s ease 0s;
}

//////////////////////////////////////////////////////////////////////////////

.btn-exp {
  border-radius: .35rem;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  color: $palette_dark;
	@include font-mont_alt;
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  padding: .35rem 1rem .35rem 1rem;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;  
}

.btn-exp span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.btn-exp span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.5s;
}
.btn-exp:hover span {
  padding-right: 2.5rem;
}
.btn-exp:hover span:after {
  opacity: 1;
  right: 0;
}

//////////////////////////////////////////////////////////////////////////////

$btn-img-HW: 4.8rem;
$btn-img-img-HW: 3.6rem;
$btn-img-shadow-HW: 2.4rem;
$btn-img-diff: ($btn-img-HW - $btn-img-shadow-HW) / 2 ;

.btn-icon, .btn-img {
  position: relative;
  margin: .5rem 1rem;
  text-align: center;
  padding: 0;
  height: $btn-img-HW;
  width: $btn-img-HW;
  border-radius: 50%;
  border: none;
  background: none;
  // transition: all ease-in-out 100ms; 
}

.btn-img-shadow{
  position: absolute;
  top: $btn-img-diff;
  left: $btn-img-diff;
  height: $btn-img-shadow-HW;
  width: $btn-img-shadow-HW;
  border-radius: 50%;
  box-shadow: 0 0 2rem rgb(255, 255, 255);
  z-index: -1;
  transition: all ease 500ms;
}

.btn-img:hover .btn-img-shadow,
.btn-icon:hover .btn-img-shadow {
    box-shadow: 0 0 2rem rgb(53, 209, 144);
}


.btn-img {
  img {
    height: $btn-img-img-HW;
    width: $btn-img-img-HW;
  }
}

.btn-icon {
   font-size: 3.2rem;
   color: white;
}

//-----------------------------------------




//////////////////////////////////////////////////////////////////////////////

// Tool Tips
.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  pointer-events: none;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  bottom: 48px;
  z-index: 10;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}