
@mixin main-content-spacing {
  padding: 1rem;
  margin: 5rem auto;
  width: 90%;
  align-content: center;
  background: $palette_light;
}

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin card-lim {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 15; /* number of lines to show */
  -webkit-box-orient: vertical;
}

$card_flip-sep: 160px;
@mixin card {
  border-radius: 1rem;
  width: 150px;
  height: 225px;
}

@mixin card-container {
  @include card;
  @include no-select;
  box-sizing: border-box;
  background: none;
  perspective: 1000px;
}
@mixin card-inner {
  @include card;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background: none;
  box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.4); 
}

@mixin card-img {
  img {
    @include card;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

@mixin card-face {
  @include card;
  box-sizing: border-box;
  text-align: left;
  position: absolute;
  background: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@mixin card-front {
  @include card-face;
  padding: 1.5rem;
  h3 {
    font-family: "Luckiest Guy", cursive;
  }
  color: white;
}

@mixin card-back {
  @include card-face;
  @include card-lim;
  h1, h2, h3, h4, h5, h6 {
    padding: 1.35rem 1rem 1rem 1rem;
    font-family: Aerial, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
  }
  color: white;
  background: none;
  transform: rotateY(180deg);
}