
@mixin main-content-spacing {
  padding: 1rem;
  margin: 5rem auto;
  width: 90%;
  align-content: center;
  background: $palette_light;
}

@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin card {
  border-radius: .7rem;
  width: 125px;
  height: 188px;
}