

$palette_dark: #0d0f13;
$palette_med: #1c2a38;
$palette_accent: #f2a365;
$palette_light: #ececec;
$palette_text_light: #ececec;
$palette_text_med: #818181;
$button_red: rgb(181, 3, 3);


$palette_dark_50o: #0d0f1380;
$palette_med_50o: #1c2a3880;
$palette_accent_50o: #f2a26581;
$palette_light_50o: #ececec85;
