.flip-card {
  background-color: transparent;
  width: 200px;
  height: 280px;
  perspective: 1000px;
}

.flip-card-inner {
  border-radius: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  border-radius: 16px;
  box-sizing: border-box;
  padding: 24px;
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  font-family: "Luckiest Guy", cursive;
  font-size: 36px;
  background-color: black;
  color: white;
}

.flip-card-back {
  font-family: 'Monteserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}