@import "./mixins";
@import "./funcs";

// CardFlipHover ===================================
.card_flip_hover-container {
  @include card-container;
  
}
.card_flip_hover-inner {
  @include card-inner;
  background-color: black;
  // @include card-img;
}
.card_flip_hover-container:hover .card_flip_hover-inner {
  transform: rotateY(180deg);
}
.card_flip_hover-front {
  @include card-front;
  background-color: black;
}
.card_flip_hover-back {
  @include card-back;

  background-color: black;
}

.card_flip-shadow_grow {
  animation: ease shadow_grow 0.3s forwards;
}

.card_flip-hover-shadow_light .card_flip_hover-inner {
   box-shadow: 0 .4rem .8rem 0 rgba(128, 122, 122, 0.4); 
}

// Splash page adjustments.....

.card_flip-splash {
  padding: 0 !important;
  // margin: .75rem;
  box-sizing: border-box;
}

// Empty Card item.....

.empty_card {
  @include card;
  background: none;
}

// CardFront
.card_front-container {
  @include card-container;
}
.card_front-front {
  @include card-front;
  @include card-shadow-dark;
  background-color: black; 
}

// CardBack
.card_back-container {
  @include card-container;
  position: absolute;
  right: $card_flip-sep;
  
}
.card_back-back {
  @include card-back;
  background-color: black;
}
.card_back-inner {
  @include card-inner;
  background-color: black;
  transform: rotateY(-180deg);
}

//////////////////////////////////////////////////////////////////////
.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


// CardFlip ==================================

.TEMP {
  position: absolute;
}

.card_flip-static_card {
  position: absolute;
  right: 0;
}

.card_flip-container {
  @include card-container;
  position: absolute;
  right: $card_flip-sep;
 
}
.card_flip-inner {
  @include card-inner;
  @include card-img;
  background-color: black;
  transform: rotateY(-180deg);
}
.card_flip-front {
  @include card-front;
  background-color: black;
}
.card_flip-back {
  @include card-back;
  background-color: black;
}

.card_flip-anim {
  animation: ease card_flipTransformLeft 1s forwards;
}
.card_flip-anim .card_flip-inner {
  animation: ease card_flipRotateNeg180 1s forwards;
}


// Shadow Anim
@keyframes shadow_grow {
  0% {
    box-shadow: 0 .4rem .8rem 0 rgba(136, 131, 131, 0.2)
  }
  100% {
    box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.4), 0 4.5rem 10rem rgba(0, 0, 0, 0.4);
  }
}

@keyframes card_flipTransformRight {
  0% {
    left: 0px;
  }
  100% {
    left: $card_flip-sep;
  }
}
@keyframes card_flipRotate180 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes card_flipTransformLeft {
  0% {
    right: 0px;
  }
  100% {
    right: $card_flip-sep;
  }
}

@keyframes card_flipRotateNeg180 {
  0% {

    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-180deg);
  }
}

@keyframes card_flipRotTransLR {
  0%{
    right: 0px;
    transform: rotateY(0deg) scale3d(1, 1, 1);
  }
  50%{
    transform: rotateY(-90deg) scale3d(1.2, 1.2, 1.2);
  }
  100%{
    right: $card_flip-sep;
    transform: rotateY(-180deg) scale3d(1, 1, 1);
  }
}

// Fires when element enters DOM
.card_flip-transition-enter {
  right: 0px;
}
// The transition itself
.card_flip-transition-enter-active {
  .card_flip-inner {
    animation: ease-in-out card_flipRotTransLR 1000ms forwards;
  }

}
// Fires when this.state.show is false
.card_flip-transition-exit {
  // right: 135px;
  // .card_flip-inner {
  //   transform: rotateY(-180deg)
  // }
}
// Fires as element leaves the DOM
.card_flip-transition-exit-active {
  // right: 0px;
  // .card_flip-inner {
  //   transform: rotateY(0deg)
  // }
  // transition: all 1000ms;
}
