@import "./mixins";

.card_look-container_white, .card_look-container_black {
  @include card-container;
  // box-sizing: border-box;
  padding: .75rem;
  position: relative;
  // border: .01rem solid rgba(255, 255, 255, 0.25);
  
  h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    @include card-lim;
  }

  transform-style: preserve-3d;

  img {
    @include card;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    background: $palette_light;
  }
}

.card_look-container_black {
  h5, h6 {
    color: $palette_light;
  }
}

.card_look-draw_count {
  display: flex;
  flex-direction: row;
  h6 {
    padding-left: 1rem;
    padding-top: 3rem;
  }
}