#game_show {
  // padding: 1rem;
  margin: 2.5rem auto;
  min-width: 725px;
  max-width: 1200px;
  width: 90%;
  height: 90%;
  align-content: center;
  background: $palette_med;
  // background: $palette_light;
  // @include main-content-spacing;
  // min-height: 80vh;



  display: flex;
  flex-direction: column;
  align-items: center;
}


#game_show-content {
  // margin: 0 auto;
  display: flex;
  flex-direction: row;
  // align-content: center;
  max-height: 1000px;
  max-width: 1200px;
  width: 100%;

  border: 2px solid black;
}

#game_show-left, #game_show-played_cards {
  margin: 1rem auto;
  min-height: 175px;
  max-height: 400px;
  // height: 400px;
}

#game_show-left {
  width: 30%;
  max-width: 300px;
  background: $palette_light;
}

#game_show-played_cards {
  width: 70%;
  max-width: 600px;
  max-height: 400px;
  min-width: 550px;
  min-height: 325px;
  background: $palette_light;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#game_show-players {
  display: flex;
  flex-direction: row;
}

#game_show-current {

}

#game_show-black {
  @include card;

  margin: 2.5rem auto;
  justify-content: center;

  h5 {
    // padding-left: .75rem;
    
  }

  .game_show-current_turn {
    padding-left: .75rem;
    font-weight: bold;
  }
}


#game_show-player_cards {
  width: 90%;
  height: 10rem;
  background: yellow;
}