@import "./_palettes.scss";
@import "./mixins";


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Current Versions*/
}

body {
  background-image: url("../images/alphaTile1080.png");
  background-repeat: repeat;
  background-color: $palette_med;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: $palette_accent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.btn-black-red {
  background: $palette_dark !important;
  border-color: $palette_dark !important;
}
.btn-black-red:hover {
  background:$button_red !important;
  border-color: $button_red !important;
}

.btn-default {
  font-size: 1.8rem;
  border: .5px solid $button_red;
  border-radius: .7rem;
  background:$button_red;
  color: white;
  text-decoration: none;
  padding: .5rem 1rem;
  width: 85px;
  height: 25px;
  text-align: center;
    line-height: 2.5rem;
}
.btn-default:hover {
  border: .05rem solid white;
  background:rgba(13, 13, 13, .75);
}

.btn-ghost {
  margin: 0 1rem;
  color: $palette_text_light;
  background: $button_red;
  font-size: 1.8rem;
  font-weight: bold;
  @include font-mont_alt;
  
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: .7rem;
  border: .5px solid $button_red;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.btn-ghost:hover {
color: $palette_text_light;
background: $palette_dark;
border-color: $palette_dark;
transition: all 0.4s ease 0s;
}


.btn-exp {
  border-radius: .35rem;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
  border: none;
  color: $palette_dark;
	@include font-mont_alt;
  font-weight: bold;
  text-align: center;
  font-size: 1.8rem;
  padding: .35rem 1rem .35rem 1rem;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;  
}

.btn-exp span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.btn-exp span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -2rem;
  transition: 0.5s;
}
.btn-exp:hover span {
  padding-right: 2.5rem;
}
.btn-exp:hover span:after {
  opacity: 1;
  right: 0;
}


// Scrollbars....

div, ul {
  scrollbar-width: 8px;
  scrollbar-width: thin;
  scrollbar-color: green !important;
}

ul::-webkit-scrollbar {
    // Width of vertical scroll bar
    width: 8px;
    // Height of horizontal scroll bar
    height: 10px;
    border-radius: 8px;
  }
ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $palette_med;
}

