@import "./_palettes.scss";



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Current Versions*/
}

body {
  background-color: $palette_dark;
}

#footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: $palette_accent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.default-btn{
  font-size: 18px;
  border: .5px solid $button_red;
  border-radius: 7px;
  background:$button_red;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  width: 85px;
  height: 25px;
  text-align: center;
    line-height: 25px;
}
.default-btn:hover{
  border: .5px solid white;
  background:rgba(13, 13, 13, .75);
}