@import "./_palettes.scss";
@import "./mixins";


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Current Versions*/
}

body {
  background-image: url("../images/alphaTile1080.png");
  background-repeat: repeat;
  background-color: $palette_med;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: $palette_accent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


// Scrollbars....

div, ul,textarea {

  scrollbar-width: 8px;
  scrollbar-width: thin;
  scrollbar-color: green !important;
}

ul::-webkit-scrollbar {
    // Width of vertical scroll bar
    width: 8px;
    // Height of horizontal scroll bar
    height: 10px;
    border-radius: 8px;
  }
ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $palette_med;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $palette_med;
}