@import "./palettes.scss";

#splash-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: $palette_dark;
}

#splash-hero-main {
  border-radius: 2.4rem;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-items: center;
  margin-top: 10%;
  background-color: $palette_light;  
}

#splash-hero-left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#splash-hero-tagline {
  padding-top: 2.4rem;
  h1 {
    font-size: 3.6rem;
    font-family: 'Luckiest Guy', cursive;
  }
}

#splash-hero-log {
  display: flex;
  flex-direction: row;
  align-items: center;
  span {
    margin-right: .8rem;
  }
  .default-btn {
    margin-right: .8rem;
  }
}

#splash-hero-right {
  padding: 2rem;
}