@import './game_show-header';
@import './player_icon';


$maxWidth: 1050px;
@mixin game_show-left_width {
  width: 33%;
  min-width: 200px;
  max-width: 275px;
  min-height: 400px;
}
@mixin game_show-right_width {
  width: 66%;
  min-width: getMinWidth(125, 5)*1px;
  max-width: getMaxWidth(125, 5)*1px;
  min-height: 400px;
}


#game_show {
  margin: 2.5rem auto;
  min-width: 750px;
  max-width: $maxWidth;
  min-height: 810px;
  max-height: 900px;
  width: 90%;
  align-content: center;
  background: $palette_med_25o;
  @include shell-shadow;
  @include box-radius;
  position: relative;

  height: 94vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#game_show-content {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  max-height: 1000px;
  max-width: $maxWidth;
  width: 100%;
  // margin: 0 1rem;
  border: .2rem solid rgba(61, 60, 42, 0.582);
  border-left-style: none;
  border-right-style: none;
}

#game_show-left, #game_show-right, #game_show-player_cards {
  @include shell-shadow;
  @include box-radius;
  background: $palette_med_light;
  margin: 1rem auto;
  min-height: 200px;
  max-height: 470px;
}


#game_show-left {
  @include game_show-left_width;
}

#game_show-right {
  @include game_show-right_width;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, max-content));
  justify-content: center;
  padding: initial;
}

#game_show-left-content {
  box-sizing: content-box;
  margin: 1rem;
  padding: 1rem;

}

.game_show-played_card {
  margin: .5rem;
}
.game_show-card {
  @include card-shadow;
}
.game_show-card:hover {
  @include card-shadow-large;
}
.game_show-player_cards {
  grid-row-start: 1;
}

#game_show-bottom_buffer {
  @include box-radius;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  // background-color: rgba(255, 230, 0, 0.267);
}

#game_show-player_cards {
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: .75rem 0;
  display: grid;
  grid-template-columns: repeat(9, 9.1%);
  background-color: $palette_blue_15o;

  justify-content: center;
}

#game_show-black {
  @include card;

  margin: 2.5rem auto;
  justify-content: center;

  .game_show-current_turn {
    padding-left: .75rem;
    font-weight: bold;
  }
}


